<!DOCTYPE html>
<html>
    <head>
    <title>Morse Code</title>
    <link href="/static/style/app.css" rel="stylesheet">
    </head>
    <body>
        <div class="maincontainer">
            <div class="subcontainertext">
                    <input type="text" placeholder="Enter You Text Here" name="MorseTextInput" id="MorseTextInput" oninput="getMorseCode()" >
                    <br>
                    <input type="text" placeholder="Your Morse Code will appear here" name="MorseTextOutput" id="MorseTextOutput">

            </div>
        </div>
        <script type=text/javascript src="/static/app.js?newversion"></script>
    </body>
</html>
